html {
	color: black;
}

body {
	border-top: 5px solid black;
}

html, body {
	@include box-model(100%, 100%, 0, 0);
}

.dieter {
	@include box-model(100%, 400px, 0, 0);
  border-top: 5px solid black;	
	background: url(../dieter.jpg) center center no-repeat;
	background-size: cover;
	z-index: 1;
	position: relative;
	display: none;
}

.signOff {
	position: absolute;
	font-size: 14px;
	right: 10px;
	top: 10px;
	a {
		color: grey; 
	}
	z-index: 2;
}

.left-tag, .right-tag {
	font-weight: 100;
	font-size: 16px;
	position: fixed;
	z-index: 4;
	top: 50%;
	height: 40px;
	width: 100px;
	text-align: center;
	color: black;
}

.left-tag {
	left: 0;
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg); /* IE 9 */
	-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
}

.right-tag {
	right: 0;
	transform: rotate(90deg);
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
}

.small {
	font-size: 16px;
	color: lightgrey;
	font-weight: 100;
}

.good-design {
	font-size: 80px;
	width: 60%;
	margin: 60px 10%;
	color: black;
  font-weight: 800;
}

.design-lines {
	width: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: -1;
  div {
		width: 10%;
		height: 100%;
		border-right: 1px dotted lightgrey;
		float: left;
		opacity: 0.4;
	}
	div:nth-child(1){
		border-left: 1px dotted lightgrey;
	}
}

.commandments {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 0 10%;
	.commandment {
		.title {
			font-size: 44px;
			padding-top: 5px;
			border-top: 4px solid black;
		}
		.passage {
			font-size: 22px;
			color: #666;
			width: 50%;
			text-align: right;
			margin-top: 40px; 
			position: absolute;
		  right: calc(25% + 10px);	
		}
		.image {
			width: 25%;
			position: absolute;
			right: 0;
			top: 20%;
			height: 60%;
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
			opacity: 0.8;
		}
		.credit {
			font-size: 12px;
			font-weight: 800;
		  position: absolute;
			right: 20px;
			width: 20vw;
			bottom: 18%;
			transform-origin: left top 0;
			transform: rotate(-90deg);
			-ms-transform: rotate(-90deg); /* IE 9 */
			-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */

		}
		@include box-model(100%, 500px, 0, 0);
		position: relative;
	}
}

.commandments .commandment .one {
	background: url(../products/one.jpg) center center no-repeat;
	background-size: cover;
}
.commandments .commandment .two {
	background: url(../products/two.jpg) center center no-repeat;
	background-size: cover;
}
.commandments .commandment .three {
	background: url(../products/three.jpg) center center no-repeat;
	background-size: cover;
}
.commandments .commandment .four {
	background: url(../products/four.jpg) center center no-repeat;
	background-size: cover;
}
.commandments .commandment .five {
	background: url(../products/five.jpg) center center no-repeat;
	background-size: cover;
}
.commandments .commandment .six {
	background: url(../products/six.jpg) center center no-repeat;
	background-size: cover;
}
.commandments .commandment .seven {
	background: url(../products/seven.jpg) center center no-repeat;
	background-size: cover;
}
.commandments .commandment .eight {
	background: url(../products/eight.jpg) center center no-repeat;
	background-size: cover;
}
.commandments .commandment .nine {
	background: url(../products/nine.jpg) center center no-repeat;
	background-size: cover;
}
.commandments .commandment .ten {
	background: url(../products/ten.jpg) center center no-repeat;
	background-size: cover;
}
